.NavItems {
    list-style: none;
    display: flex;
    align-items: center;
}

.NavItems li {
    padding-right: 1.4rem;
    text-transform: capitalize;
    font-size: 0.96rem;
    font-weight: 600;
    transition: color 0.5s 0.2s;
}

.NavItems li:hover {
    color: #888888;
    cursor: pointer;
    transition: background-color 0.3s 0.2s;
}

.NavItems .active {
    font-weight: 800;
}


@media screen and (max-width: 980px) {
    .NavItems {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2.3rem;
        width: 100%;
    } 
    
    .NavItems li {
        padding: 0.8rem 2.1rem;
        border-bottom: 1px solid rgba(230, 230, 230, 0.363);
        width: 100%;
    }

    .NavItems li:hover {
        background-color: rgba(230, 230, 230, 0.253);
    }
}